.clear{
    clear:both;
}
.top {
    background: #ac0001;
    color: #fff;
    height: 35px;
    box-shadow:0px -5px 10px #722 inset;
}
.top_inner {
    width: 980px;
    height:35px;
    margin-left:auto;
    margin-right:auto;
}
.top_func{
    float:left;
    font-size:14px;
}
.top_func li {
    float: left;
    padding-left:10px;
    padding-right:10px;
    margin-top:10px;
    border-left:1px solid #580001;
    border-right:1px solid #e20001;
}
.top_func{
    font-size:14px;
}
.top_func a{
    color:white;
    text-decoration:none;
}
.top_func a:hover,
.top_func a:focus{
    text-decoration:underline;
}
.top_form{
    float:right;
}
.top_form input[type=text],
.top_form input[type=password],{
    border:none;
    margin-top:10px;
    padding:1px 3px;
}
.top_form .btn{
    width:47px;
    height:24px;
    border:none;
    padding:none;
    display: inline-block;
    background-image:url(../images/search_btn.png);
    background-color:red;
    text-indent:0px;
    background-repeat:no-repeat;
}
.top_form .btn:hover{
    cursor:pointer;
}
.header{
    height:90px;
    margin-top:60px;
    position:relative;
}
.logo{
    /*margin-top:60px;*/
    width:270px;
    /*background-image:url(../images/logo.jpg);*/
    background-repeat:no-repeat;
    border-right:1px solid #ac0001;
    padding-right:30px;
    position:relative;
}
.goal{
    width:210px;
    height:17px;
    color:#ac0001;
    font-size:20px;
    text-indent:-3000em;
    background-image:url(../images/goal.png) !important;
    _background-image:url(../images/goal.gif);
    background-repeat:no-repeat;
    position:absolute;
    right:-230px;
    bottom:0px;
}
.weather{
    position:absolute;
    right:0px;
    bottom:-125px;
}
.nav{
    z-index:9999;
    position:relative;
    height:49px;
}
.nav a{
    font-family:'黑体';
    text-decoration:none;
}
.nav .nav_fix{
    float:left;
    width:30px;
    height:43px;
    padding-top:3px;
    padding-bottom:3px;
}
.nav .nav_head{
    background-image:url(../images/nav_head.jpg);
}
.nav .nav_body{
    position:relative;
    width:920px;
    float:left;
    height:43px;
    line-height:43px;
    padding-top:3px;
    padding-bottom:3px;
    background-image:url(../images/nav_body.png);
}
.nav .nav_tail{
    background-image:url(../images/nav_tail.jpg);
}
.nav .menu-btn{
    font-size:20px;
    color:white;
    font-weight:bold;
    text-shadow:0 -1px 0px #111;
}
.nav .menu_item{
    float:left;
    height:42px;
    width:128px;
    text-align:center;
    border-right:1px solid #111;
    border-left:1px solid #d8181a;
    font-size:15px;
    position:relative;
}
.nav li .menu-btn{
    display:inline-block;
    width:100%;
    height:100%;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}
.nav li .mousein a,
.nav li .menu-btn:hover,
.nav li .menu-btn:focus{
    background:#731011;
    color:yellow;
    text-shadow:0 0 20px #fff;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}
/*****************************************************/
/*--------------------pop_menu------------------------*/
.menu_item .pop_menu{
    position:absolute;
    left:0px;
    top:45px;
    z-index:9999;
    display:none;
    width:400px;
}
.menu_item.last_menu_item .pop_menu{
    right:-10px !important;
    left:auto;
}
.pop_menu div{
    float:left;
}
.pop_menu a{
    color:#fff;
    display:inline-block;
    padding:0px 5px;
    text-shadow:0 -1px 0px #000;
}
.pop_menu li{
    float:left;
    width:75px;
    height:25px;
    line-height:25px;
    padding:5px 10px;
}
.pop_menu_head{
    width:8px;
    height:34px;
    float:left;
    background-image:url(../images/pop_menu_head.png);
}
.pop_menu_body{
    background-image:url(../images/pop_menu_body.png);
}
.pop_menu_tail{
    background-image:url(../images/pop_menu_tail.png);
    background-position:right;
    width:8px;
    height:34px;
}
.pop_menu .pop_menu_arrow{
    display:inline-block;
    width:11px;
    height:11px;
    position:absolute;
    background-image:url(../images/arrow.png);
    background-repeat:no-repeat;
    left:60px;
    top:0;
}
.menu_item.last_menu_item .pop_menu .pop_menu_arrow{
    right:60px;
    left:auto;
}
/********************************************************/
/*+-----------------overwrite css----------------------+*/
.top_func .first,
.nav .first,
.list_box .first{
    border-left:none;
    border-top:none;
}
.top_func .last,
.nav .last,
.list_box .last{
    border-right:none;
    border-bottom:none;
}
/********************************************************/
/* vim: fdm=marker
 */
.bookshow{
    width:1046px;
    height: 400px;
    margin: 30px auto 10px;
    position:relative;
    background-image:url(../images/desk.png) !important;
    background-image:url(../images/desk.gif);
}
.sort{
    display: block;
    float: left;
    height: 100px;
    margin-bottom: 20px;
}
.famous_1{
    float: left;
    height: 100px;
    width: 311px;
    background: url(../images/famous_1.png) no-repeat;
}
.famous_2{
    float: left;
    height: 100px;
    width: 311px;
    margin: 0 22px!important;
    margin: 0 18px;
    background: url(../images/famous_2.png) no-repeat;
}
.famous_3{
    float: left;
    height: 100px;
    width: 311px;
    background: url(../images/famous_3.png) no-repeat;
}
.famous_w{
    padding: 20px 0 0 100px!important ;
    overflow: auto;
}
.famous_w_1{
    float: left;
    font-size: 12pt;
    height:24pt !important;
    line-height: 24pt !important;
    height: 14pt;
    line-height: 14pt;
    margin: 0 18px !important;
    margin: 0 13px;
    color: white;
    font-weight: bold;
        font-family: "宋体";
}
.famous_w a{
    color: white;
    text-decoration: none;
}
.famous_w a:hover,
.famous_w a:focus{
    text-decoration: underline;
}
.rank{
    clear: both;
    height: 125px;
}
.rank_top{
    background: url(../images/rank.png) no-repeat;
    border-bottom: 1px solid #a40606;
    height: 25px;
    width: 980px;
    margin-bottom: 5px;
}
.rank_left{
    float: left;
    overflow: hidden;
    width: 311px;
}
.rank_line{
    float: left;
    height: 25px;
    width: 311px;
    line-height: 25px;
    font-size: 10pt;
    color: #3e3e3e;
}
.rank_line span{
    float: right;
}
a{
    _float: left;
}
.rank a{
    text-decoration: none;
    color: #3e3e3e;
}
.rank a:hover,
.rank a:focus{
    text-decoration: underline;
}
.walking{
clear: both;
    width: 980px;
    height: 137px;
    background: url(../images/walking.png) no-repeat;
    margin: 40px 0 20px 0;
}

.walk_top{
    background: url(../images/walk.png) no-repeat;
    height: 40px;
    width: 980px;
    margin-bottom: 25px;
}
.walk_left{
    float: left;
    width: 216px;
    margin: 30px 12px 0 0;
}
.walk_middle{
    float: left;
    height: 420px;
    width: 525px;
}
.walk_middle-top{
    height: 30px;
    width: 525px;
    border-bottom: 1px solid #a40606;
}
.left_list_head{
    height:30px;
    text-shadow:0 -1px 0px #000;
    margin-bottom: 10px;
    border-bottom: 1px solid #a40606;
}
.left_list_head .current_topic{
    display:inline-block;
    width:136px;
    height:31px;
    background-repeat:no-repeat;
    float:left;
}
.sub_topic{
    display:inline-block;
    height:31px;
    line-height:31px;
    color:#8a8a8a;
    text-decoration:none;
    float:left;
    margin-right:10px;
}
.sub_topic.current_sub_topic{
    color:#af1010;
    text-shadow:none;
    font-weight: bold;
}
.list_jar{
    display:none;
}
.list_jar.current_jar{
    display:block;
}
.list_line{
    display: block;
    float: left;
    height: 23px;
    width: 524px;
    line-height: 23px;
    font-size: 12pt;
    color: #565656;
}
.list_line span{
    float:right;
}
.list_line a{
float: left;
    text-decoration: none;
    color: #565656;
}
.list_line a:hover{
    text-decoration: underline;
}
.walk_right{
    float: right;
}
.walk_right_1{
    height: 320px;
    width: 220px;
    border:1px solid red;
}
.walk_right_2{
margin: 0 auto;
    background: url(../images/walking_5.png) no-repeat;
    height: 130px;
    width: 210px;
}
.humous{
clear: both;
    width: 980px;
    height: 155px;
    margin: 40px 0 20px 0;
}
.humors{

}
.humor_top{
    background: url(../images/humors_top.png) no-repeat;
    height: 40px;
    width: 980px;
    margin-bottom: 20px;
}
.humor_left{
    float: left;
    width: 480px;
    height: 375px;
}
.humor_head{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #bc4646;
    font-size: 12pt;
    font-weight: bold;
    color: #bf1010;
    margin-bottom: 9px;
}
.humor_head span{
    float: right;
    font-size: 10pt;
    font-weight: normal;
}
.humor_head a{
    text-decoration: none;
    color: #bf1010;
}
.humor_line{
    width: 475px;
    height: 25px;
    line-height: 25px;
    font-size: 10pt;
    color: #565656;
}
.humor_line a{
    text-decoration: none;
    color: #565656;
}
.humor_line a:hover,
.humor_line a:focus{
    text-decoration:underline;
}
.humor_line span{
    float: right;
}
.humor_left_2{
    float: left;
    width: 480px;
    height: 345px;
}
.humor_left_right{
    float: left;
    margin: 5px 0 0 20px;
}
/*addition+------------------------------------------------------+*/
.bookshow{
    /*background-image:url(../images/book/desk.png) !important;*/
    /*background-image:url(../images/book/desk.gif);*/
}
.book-control{
    position:absolute;
    top:210px;
    display:inline-block;
    height:50px;
    width:40px;
    background:blue;
}
.book-control.left{
    left:45px;
}
.book-control.right{
    right:45px;
}
.book-control.disabled{
    color:yellow;
    font-size:18px;
}
.book-wrapper{
    position: absolute;
    top:125px;
    left:76px;
    width:890px;
    /*height:400px;*/
    margin:0 auto;
    overflow:hidden;
}
.book-list{
    overflow:auto;
    padding-top:15px;
    /*height:250px;*/
}
.book-list li{
    float: left;
    width:123px;
    margin-left:27px;
    margin-right:28px;
    -moz-transition:    all .1s linear;
    -ms-transition:     all .1s linear;
    -o-transition:      all .1s linear;
    -webkit-transition: all .1s linear;
    transition:         all .1s linear;
}
.book-list li:hover,
.book-list li:focus{
    -moz-transform:    scale(1.1);
    -ms-transform:     scale(1.1);
    -o-transform:      scale(1.1);
    -webkit-transform: scale(1.1);
    transform:         scale(1.1);
}
.book-list li:active{
    -moz-transform:    scale(.96);
    -ms-transform:     scale(.96);
    -o-transform:      scale(.96);
    -webkit-transform: scale(.96);
    transform:         scale(.96);
}
.book-list li img{
    display:inline-block;
    width:123px;
    height:184px;
    background-image:url(../images/book/book-bg.png) !important;
    background-image:url(../images/book/book-bg.gif);
    background-repeat:no-repeat;
    padding-top:5px;
    padding-bottom:18px;
}
.index-con{
    position: absolute;
    left:100px;
    bottom:30px;
}
.index{
    display:inline-block;
    padding-left:5px;
    padding-right:5px;
    border-radius:5px;
    color:yellow;
}
.index.current{
    background:yellow;
    color:black;
}
/*+------------------------------------------------------+addition*/
