/*overwirte+------------------------------------------------------+*/
.content{
    margin-top:10px;
}
.box .wrapper_for_border{
    padding-bottom:0;
}
.side_boxs .box_body{
    line-height:23px;
}
/*+------------------------------------------------------+overwirte*/
.banner{
    margin-top:10px;
    height:330px;
    position:relative;
}
.foto{
    position:absolute;
    display:block;
    height:100%;
    width:100%;
    background-repeat:no-repeat;
}
#foto_left{
    width:759px;
    height:311px;
    z-index:1;
    background-image:url(../images/photo_left.png);
    background-position:left top;
    left:0;
    top:0;
}
#foto_right{
    width:762px;
    height:291px;
    z-index:2;
    background-image:url(../images/photo_right.png);
    background-position:right top;
    right:0;
    top:0;
}
#foto_top{
    width:902px;
    height:303px;
    z-index:3;
    background-image:url(../images/photo_top.png);
    background-position:center center;
    left:40px;
    bottom:15px;
}
.slider_can{
    width:580px;
    height:300px;
    float:left;
    margin-left:8px !important;
    margin-left:4px;
    margin-right:7px;
    overflow:hidden;
    position:relative;
}
.slider_item{
    float:left;
    width:580px;
    height:300px;
    position:relative;
}
.slider_item p{
    /*background:black !important;*/
    /*_background:none;*/
    background:rgba(0,0,0,0.6);
    width:100%;
    height:40px;
    line-height:40px;
    font-size:16px;
    text-align:center;
    color:white;
    position:absolute;
    bottom:30px;
    opacity:0.9;
    filter:alpha(opacity=90);
}
.slider_item a{
    display:inline-block;
    height:100%;
    width:100%;
}
.slider_item a img{
    width:580px;
    height:300px;
}
#slider_control{
    position:absolute;
    right:11px;
    bottom:11px;
}
#slider_control i{
    display:inline-block;
    height:15px;
    width:15px;
    border-radius:8px;
    /*background-color:#b0b0b0;*/
    background-image: url(../images/slider_control.png) !important;
    background-image: url(../images/slider_control.gif);
    background-position: 0 0;
}
#slider_control i:hover,
#slider_control i:focus,
#slider_control i.now{
    background-position: -15px 0px;
}
#slider_control_left,
#slider_control_right{
    height:50px;
    width:30px;
    background-color:#f00;
    position:absolute;
    top:100px;
}
#slider_control_left{
    left:0;
}
#slider_control_right{
    right:0;
}
.side_boxs{
    width:193px;
    float:left;
    margin-top:-16px;
}
.side_boxs .box_title{
    background-color:#fff;
    background-image:url(../images/box_bar.png);
    background-repeat:no-repeat;
    background-position:center bottom;
}
.side_boxs .box_title{
    height:65px;
}
.side_boxs .box{
    width:193px;
    padding-bottom:5px;
    margin-bottom:0;
    overflow:hidden;
}
.side_boxs .box .more{
    top:auto;
    bottom:15px;
}
.side_boxs .box .box_type{
    width:164px;
    height:60px;
    background-image:url(../images/box_title_type.png);
    _background-image:url(../images/box_title_type.gif);
    background-repeat:no-repeat;
    background-position:10px 16px;
}
.side_boxs .box.daily_english .box_type{
    background-position:10px -62px;
}
.side_boxs .box.daily_english li{
    text-align: center;
}
.side_boxs .box.daily_english .english-item{
    text-align: left;
}
.side_boxs .box.daily_english .english-item-en{
    font-size: 10px;
}
.
.side_boxs .box.topic_before .box_type{
    background-position:10px -124px;
}
.side_boxs .box.big_event .box_type{
    background-position:10px -203px;
}
.side_boxs .box .box_body_wrap{
    background-image:url(../images/side_box_border.jpg);
    background-repeat:repeat-y;
}
.side_boxs .box .wrapper_for_btm{
    background-image:url(../images/side_box_btm.jpg);
    background-position:bottom center;
    background-repeat:no-repeat;
}
.side_boxs .box_body{
    background-image:url(../images/side_box_shine.jpg);
    width:153px;
}

/*topic before+------------------------------------------------------+*/
.scroller{
    overflow:hidden;
    height: 140px;
    margin: 0 auto;
}
.scroll_item{
    height: 140px;
    width: 175px;
    float: left;
}
.topic_before .scroll_item p{
    margin-top: 13px;
}
.topic_before .box_body{
    padding-top:40px;
    padding-bottom:30px;
    position:relative;
}
.topic_before .scroller{
    width: 700px;
}
.topic_before .box_body .scroller_inner{
    _margin-left:20px;
    width: 10000px;
}
.topic_before .up{
    top:0;
    left:50px;
}
.side_boxs .box .box_body{
    width:153px;
    height:auto;
}
.topic_before .down{
    bottom:10px;
    left:50px;
    background-position:0 -30px;
}
.topic_before .scroll_item a{
    text-align:center;
}
.topic_before .scroller-control{
    display: inline-block;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 60px;
    background-image: url(../images/scroller-control.png);
    background-image: url(../images/scroller-control.gif);
    background-repeat: none;
    cursor: pointer;
    opacity: 0.1;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    -webkit-transition:opacity 0.2s;
    transition: opacity .2s;
}
.topic_before:hover .scroller-control,
.topic_before:focus .scroller-control{
    opacity: 1;
}
.topic_before .scroller-control-left{
    left: 10px;
}
.topic_before .scroller-control-right{
    right: 10px;
    background-position: -50px 0;
}
/*board+------------------------------------------------------+*/
.board{
    background-image:url(../images/board.png);
    background-position:center;
    background-repeat:no-repeat;
    height:176px;
    margin-top:10px;
    _margin-bottom:20px;
}
.board a{
    display:inline-block;
    height:100%;
    width:100%;
    background-image:url(../images/plaste.png);
    _background-image:url(../images/plaste.gif);
    background-position:center center;
    background-repeat:no-repeat;
    text-align:center;
}
/*+------------------------------------------------------+board*/
/*+------------------------------------------------------+topic before*/
.topic_list{
    width:777px;
    float:left;
    margin-left:10px !important;
    _margin-left:10px;
    margin-top:7px;
    overflow:hidden;
}
.box{
    background-image:url(../images/box.jpg);
    border-radius:5px;
}
.shadow{
    -moz-box-shadow:    -1px 1px 10px -2px #333;
    -ms-box-shadow:     -1px 1px 10px -2px #333;
    -o-box-shadow:      -1px 1px 10px -2px #333;
    -webkit-box-shadow: -1px 1px 10px -2px #333;
    box-shadow:         -1px 1px 10px -2px #333;
}
.box a{
    color:#100;
    text-decoration:none;
}
.box a:hover,
.box a:focus{
    text-decoration:underline;
}
.box_body.dailynews_box_body,
.dailynews .box_body{
    background-image:url(../images/dailynews_btm.jpg);
    background-position:bottom left;
    height:307px;
    width:976px;
    padding:2px;
    padding-top:9px;
    padding-bottom:10px;
}
.dailynews.box{
    padding-bottom:0;
    margin-bottom:15px;
    background-image:url(../images/dailynews_border.jpg);
    background-repeat:repeat-y;
}
.dailynews .box_title{
    background-image:url(../images/dailynews_bar.png);
    background-repeat:no-repeat;
    background-position:0 0;
    background-color:transparent;
    height:41px;
}
.dailynews .box_title_endfix{
    background-image:url(../images/dailynews_bar.png);
    height:100%;
    width:100px;
    background-position:right;
    background-repeat:no-repeat;
    position:absolute;
    top:0;
    right:0;
}
.dailynews.box .more{
    top:10px;
}
.dailynews .news_can{
    float:left;
    width:373px;
    overflow:hidden;
    line-height:20px;
}
.dailynews .box_body_wrap{
    background-image:url(../images/dailynews_btm.jpg);
    background-position:bottom center;
    background-repeat:no-repeat;
}
.dailynews.box .wrapper_for_border{
    background-image:url(../images/dailynews_border.jpg);
    padding-bottom:0;
    _width:976px;
    _height:307px;
}
.dailynews .bignews{
    width:373px;
    height:88px;
    background-image:url(../images/bignews_bg.png);
    background-repeat:no-repeat;
    background-position:0 0;
    font-size:14px;
}
.dailynews .bignews h4{
    font-size:16px;
    height:30px;
    line-height:30px;
    color:#ac0001;
    font-weight:bold;
    font-family:'宋体';
    text-align:center;
    padding-top:5px;
}
.dailynews .bignews p{
    text-indent:2em;
    padding:0 10px;
}
.dailynews .bignews span{
    color:#ac0001;
}
.dailynews .bignews a:hover{
    text-decoration:none;
    cursor: pointer;
}
.dailynews .bignews a:hover h4,
.dailynews .bignews a:hover span{
    text-decoration:underline;
}
.dailynews .news_list{
    margin-top:10px;
}
.topic_bar{
    height:41px;
    background-image:url(../images/topic_bar.png);
    background-repeat:no-repeat;
    background-position:0 0;
    position:relative;
}
.sub_topic{
    height:35px;
    line-height:35px;
    font-family:"宋体";
    position:absolute;
    left:220px;
    top:2px;
}
.sub_topic a{
    color:#000;
    font-size:14px;
    text-decoration:none;
    padding:0 11px;
    border-left:1px solid #000;
}
.sub_topic a:hover,
.sub_topic a:focus{
    color: #ab0b0c;
    text-decoration: none;
}
.topic_list .box .more{
    color:#ac0001;
    right:10px;
    top:10px;
    text-shadow:none;
    font-size:15px;
}
.box .clomun{
    float:left;
    width:376px;
}
.box .clomun .news_with_img{
    float:left;
    width:160px;
    text-align:center;
    text-decoration:none;
}
.box .clomun .news_with_img:hover,
.box .clomun .news_with_img:focus{
    color:#ac0001;
    text-decoration:underline;
}
.box .clomun .news_with_img:active{
    color:#f00;
}
.box .clomun .news_with_img p{
    margin:5px 5px 10px 5px;
    line-height:20px;
}
.news_list{
    float:left;
    font-family:'微软雅黑','宋体';
    font-size:12px;
    padding-left:8px;
    background-repeat:no-repeat;
    background-position:5px center;
}
.news_list li{
    padding-left:15px;
    font-size:14px;
    height:26px;
    line-height:26px;
    background-image:url(../images/square.png);
    background-repeat:no-repeat;
    background-position:left center;
}
/*topic type+------------------------------------------------------+*/
.topic_box.box{
    background-image:url(../images/topic_box_border.jpg);
    background-repeat:repeat-y;
    padding-bottom:0;
    margin-bottom:15px;
}
.topic_box.box .box_body{
    width:753px;
    height:158px;
    background-image:url(../images/topic_box_btm.jpg);
    background-position:bottom center;
    padding:12px 12px 5px;
    background-repeat:no-repeat;
    overflow:auto;
}
.topic_box .topic_type{
   display:inline-block;
   height:41px;
   width:200px;
   background-repeat:no-repeat;
}
.news_box .topic_type{
    background-image:url(../images/topic_type.png) !important;
    _background-image:url(../images/topic_type.gif);
    background-position:16px 11px;
}
.news_box.youandwe .topic_type{
    background-position:16px -38px;
}
.news_box.road .topic_type{
    background-position:16px -92px;
}
.news_box.innovate .topic_type{
    background-position:16px -143px;
}
.news_box.deyu .topic_type{
    background-position:16px -189px;
}
.news_box.openbook .topic_type{
    background-position:16px -240px;
}
/*overwirte*/
.side_boxs .box.daily_english .box_body,
.side_boxs .box.notif_box .box_body{
    padding: 10px 5px 10px;
    width: 183px;
    text-align: center;
}
.side_boxs .box.weibo-box .box_body{
    padding: 10px 5px;
    width: 183px;
}
.openbook .book{
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}
.openbook .book h4{
    text-align: center;
}
.openbook .book p{
    margin-bottom: 5px;
    border: 1px solid #aaa;
    padding: 3px;
}
.openbook .book:hover p,
.openbook .book:focus p{
    border: 1px solid #ac0001;
    background-color: #ac8c01;
}
