.top {
    background: #ac0001;
    color: #fff;
    height: 50px;
}
.top_inner {
    width: 980px;
    height:50px;
    line-height:50px;
    margin-left:auto;
    margin-right:auto;
}
.top_func{
    float:left;
}
.top_func li {
    float: left;
    padding-right:20px;
}
.top_form{
    float:right;
}
