.content{
    font-family:'宋体';
}
.left_list{
    width:680px;
    background:#fff;
    float:left;
}
.left_list_head{
    background-image:url(../images/.jpg);
}
.left_list_foot{
    text-align:center;
}
.feed_item{
    border-bottom:1px solid red;
    padding-bottom:10px;
    padding-left:30px;
    padding-top:20px;
    overflow:auto;
}
.feed_title a{
    color:red;
    font-weight:bold;
}
.feed_image{
    float:left;
    width:150px;
}
.feed_digest{
    width:500px;
    float:left;
    text-indent:2em;
    color:#555;
}
.feed_digest p a{
    color:red;
    text-decoration:none;
    margin-left:2px;
}
.feed_info{
    color:#888;
}
