/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 * {{{
 */
 /*去除自带样式*/
body,html,div, form, input, select, ul, ol, li, p, h1, h2, h3, h4, h5, h6, p, dd, dt, dl { margin: 0; padding: 0; }
ul,ol { list-style: none; }
a { text-decoration: none; }
p,div { display: block; }
input { outline: none; border: none; }
img { border: none; }
p{font-family: 宋体B8B\4F53, "Arial Narrow";font-size: 12px;}
/*设置body背景*/
body { background: url(../images/bg.gif) repeat-x #fff; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* /css reset }}}*/
/*logo和天气模块*/
.g-hd2 { width: 976px; height: 130px; margin: 0 auto; }
.m-logo { float: left; height: 100%; padding-top: 34px; position: relative; }
.m-logo img {position: absolute; background: url(../images/logo_r.gif) no-repeat right; padding-right: 20px; }
.m-logo p { position: absolute; width: 210px; height: 17px; left: 290px; top: 76px; font-size: 12px; font-family: "微软雅黑"; color: #b52021; font-weight: bold; background: url(../images/goal.png) no-repeat; text-indent: -3000em; }
.goal{
    width:210px;
    height:17px;
    color:#ac0001;
    font-size:20px;
    text-indent:-3000em;
    background-image:url(../images/goal.png) !important;
    _background-image:url(../images/goal.gif);
    background-repeat:no-repeat;
    position:absolute;
    right:-230px;
    bottom:0px;
}
.weather{
  float: right; height: 100%; padding: 10px; position: relative; 
}
/*.m-weather { float: right; height: 100%; padding-top: 24px; position: relative; }
.m-weather img { position: absolute; top: 22px; right: 96px; }
.m-weather-msg { position: absolute; right: 24px; top: 22px; width: 60px; font-family: "微软雅黑"; text-align: right; border: 1px solid yellow; }
.m-weather-msg li.city {  color: #960001; font-size: 10px; font-weight: bold; line-height: 16px; }
.m-weather-msg li.pinyin { font-size: 10px; font-family: arial black; color: #717171; text-transform: capitalize; line-height: 16px;  }
.m-weather-msg li.tp { font-size: 20px; color: #960001; font-weight: bold; font-family: arial black; line-height: 24px; }
.m-weather-msg li.wt { font-size: 15px;  color: #717171; font-weight: bold; line-height: 24px; }*/

.outer_wrap{
    width: 976px;
    margin-left:auto;
    margin-right:auto;
     margin-top:30px;
}

.inner_wrap{
    padding-bottom:20px;
    font-family:'宋体';
    /*overflow:auto;*/
}
.nav{
    z-index:9999;
    position:relative;
    height:49px;
}
.nav a{
    font-family:'宋体';
    text-decoration:none;
}
.nav .nav_fix{
    float:left;
    width:28px;
    height:44px;
    padding-top:3px;
    padding-bottom:3px;
}
.nav .nav_head{
    background-image:url(../images/nav_head.jpg);
}
.nav .nav_body{
    position:relative;
    width:920px;
    float:left;
    height:43px;
    line-height:43px;
    padding-top:3px;
    padding-bottom:3px;
    background-image:url(../images/nav_body.png);
}
.nav .nav_tail{
    background-image:url(../images/nav_tail.jpg);
}
.nav .menu-btn{
    font-size:20px;
    color:white;
    font-weight:bold;
    text-shadow:0 -1px 0px #111;
}
.nav .menu_item{
    float:left;
    height:42px;
    width:147px;
    text-align:center;
    border-right:1px solid #111;
    border-left:1px solid #d8181a;
    font-size:15px;
    position:relative;
}
.nav li .menu-btn{
    display:inline-block;
    width:100%;
    height:100%;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}
.nav li .mousein a,
.nav li .menu-btn:hover,
.nav li .menu-btn:focus{
    background:#731011;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}
/*****************************************************/
/*--------------------pop_menu------------------------*/
.menu_item .pop_menu{
    position:absolute;
    left:0px;
    top:45px;
    z-index:9999;
    display:none;
    width:400px;
}
.menu_item.last_menu_item .pop_menu{
    right:-10px !important;
    left:auto;
}
.pop_menu div{
    float:left;
}
.pop_menu a{
    color:#fff;
    display:inline-block;
    padding:0px 5px;
    text-shadow:0 -1px 0px #000;
}
.pop_menu li{
    float:left;
    width:75px;
    height:25px;
    line-height:25px;
    padding:5px 10px;
}
.pop_menu_head{
    width:8px;
    height:34px;
    float:left;
    background-image:url(../images/pop_menu_head.png);
}
.pop_menu_body{
    background-image:url(../images/pop_menu_body.png);
}
.pop_menu_tail{
    background-image:url(../images/pop_menu_tail.png);
    background-position:right;
    width:8px;
    height:34px;
}
.pop_menu .pop_menu_arrow{
    display:inline-block;
    width:11px;
    height:11px;
    position:absolute;
    background-image:url(../images/arrow.png);
    background-repeat:no-repeat;
    left:70px;
    top:0;
}
.menu_item.last_menu_item .pop_menu .pop_menu_arrow{
    right:70px;
    left:auto;
}
.links{
    padding:10px 0px;
    border-radius:5px;
    -moz-box-shadow:    -1px 1px 10px -2px #333;
    -ms-box-shadow:     -1px 1px 10px -2px #333;
    -o-box-shadow:      -1px 1px 10px -2px #333;
    -webkit-box-shadow: -1px 1px 10px -2px #333;
    box-shadow:         -1px 1px 10px -2px #333;
}

.links{
    margin-top:20px;
    font-size: 14px;
    line-height: 25px;
}
.links h3{
    margin-left: 20px;
    color: #ad0d0e;
    cursor: default;
}
.links a{
    display:inline-block;
    text-decoration: none;
    padding: 0 5px;
    color: #625f58;
}
.links a:hover,
.links a:focus{
    color: #ac0001 !important;
    text-decoration: underline;
}
.links p{
    text-align:center;
}
/********************************************************/
/*footer*/
.footer{
    margin-top:20px;
    background: #ac0001;
    text-shadow:0 -1px 0px #000;
    padding:13px 0px;
    box-shadow:0px 5px 10px -2px #722 inset;
}
.footer_inner{
    width: 980px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size: 14px;
}
.footer_inner a{
    display:inline-block;
    width:80px;
    color:#fff;
    text-decoration:none;
}
.footer_inner p{
    color:#fff;
    margin:10px;
    font-size: 12px;
    cursor: default;
}
.footer_inner a:hover,
.footer_inner a:focus{
    text-decoration: underline;
}
.list_box li{
    line-height:22px;
    padding:5px 10px;
    border-bottom:1px solid #ac0001;
}
.list_box li a{
    text-decoration:none;
    color:#000;
}
.list_box li a:hover{
    text-decoration:underline;
}
.box{
    font-size:12px;
    border-radius:5px;
    background-color:#fff;
    padding-bottom:9px;
    background-image:url(../images/box_btm.png);
    background-position:center bottom;
    background-repeat:no-repeat;
    margin-bottom:10px;
}
.box_title{
    position:relative;
    background-color:#ac0001;
    background-image:url(../images/box_title.png);
    height:47px;
}
.box .more{
    color:#fff;
    position:absolute;
    right:10px;
    top:20px;
    font-size:18px;
    text-shadow:0 -1px 0px #111;
    text-decoration:none;
}
.box_body{
    padding:20px 20px 15px;
    background-image:url(../images/box_shine.png);
    background-repeat:no-repeat;
    background-position:0px 0px;
}
.box .wrapper_for_border{
    padding-bottom:10px;
    background-image:url(../images/box.jpg);
    background-repeat:repeat-y;
}
.box.notif_box .box_body{
    line-height:25px;
    text-indent:2em;
}
/*+-----------------overwrite css----------------------+*/
.top_func .first,
.nav .first,
.list_box .first{
    border-left:none;
    border-top:none;
}
.top_func .last,
.nav .last,
.list_box .last{
    border-right:none;
    border-bottom:none;
}
/*alert+------------------------------------------------------+*/
.browser-alert{
    width:100%;
    position: fixed;
    background:yellow;
    text-align:center;
    height:40px;
    line-height:40px;
    font-size:25px;
    display: none;
    z-index:99999;
}
.browser{
   height:30px;
   width:30px;
   border-radius:30px;
   margin-top:5px;
   padding-top:5px;
   top:-30px;
}
/*+------------------------------------------------------+alert*/
/* vim: fdm=marker
 */
.clear { clear: both; }


/*------------------------------------------------------------*/
.g-bd { 
    width: 976px;
    margin: 0 auto;
    position: relative;
    background: #fff;
    overflow: auto;
}
.cnt_dld{
    float: left;
    margin-left: 22px;
    margin-top: 24px;
}

/*下载排行模块*/
.cnt_dld { width: 312px; position: relative; }
.cnt_dld h3 {  font-family: "微软雅黑"; font-size: 15px;  line-height: 30px; margin-bottom: 10px; }
.cnt_dld h3 a { color: #ac0001; }
.cnt_dld h3 span{ color: #0d0001; }
.cnt_dld ul {  background: #f4f4f4;  height: 320px; padding: 10px 0; }
.cnt_dld ul li { float: left;  width: 310px; display: block; height: 22px; line-height: 22px; position: relative; margin: 5px 0; }
.cnt_dld ul li,.cnt_dld ul li a {  color: #414141;font-family: 宋体B8B\4F53, "Arial Narrow";font-size: 12px;  }
.cnt_dld ul li a { margin-left: 5px; line-height: 22px; }
.cnt_dld ul li p { position: absolute; right: 0; top: 0; text-align: left; width: 70px;   }
.cnt_dld ul li span { width: 22px; height: 22px; margin-left: 20px; background: #a5a5a5; float: left; color: #fff; text-align: center; line-height: 22px; }