/*header样式*/
.g-hd { width: 976px; height: 37px; margin: 0 auto; }

/*header左侧*/
.g-hd-l { float: left;  height: 37px; }
.g-hd-l ul { float: left; height: 100%;   }
.g-hd-l ul li { float: left; height: 100%; margin-right: 6px; padding-right: 13px; background: url(../images/hd_li_bg.gif) no-repeat right; font-size: 10px; }
.g-hd-l ul li a { color: #fff; line-height: 37px; display: block; letter-spacing: 1px; }
.g-hd-l ul li a:hover { color: #eee; }
.g-hd-l ul li.weibo a { background: url(../images/weibo.png) no-repeat 0 0; padding-left: 34px; width: 52px; }
.g-hd-l ul li.weibo a:hover { background: url(../images/weibo.png) no-repeat 0 -37px; }
.g-hd-l ul li.g-hd-no-bg { background: none; }

/*header右侧登陆框*/
.m-log { float: right; padding-right: 7px; }
.m-log ul { float: left;  color: #fff; font-size: 10px;  }
.m-log ul li{ float: left;margin-left: 23px; height: 37px;  line-height: 37px; vertical-align:middle; }
.m-log ul li label { letter-spacing: 1px; margin: 5px; }
.m-log ul li.m-log-btn { margin-left: 12px; }
.m-log ul li input { width: 84px; height: 21px; margin-left: 9px; border: none; line-height: 21px; text-indent: 2px; padding: 1px 0; _vertical-align: middle; _margin:2px 0;  }
.m-log ul li.m-log-btn input { background: url(../images/g_hd_btn.png) no-repeat; border: none; color: #fff; width: 44px; height: 21px; margin: 4px 0; cursor: pointer; }


/*导航下面的header模块*/
.m-header,.m-header a { height: 30px; line-height: 30px; font-size: 12px; color: #ab0b0c; margin-top: 30px; }
.m-header a:hover { text-decoration: underline; }
.m-header .pos { float: left; }
.searchBar { float: right; line-height: 30px; }
.searchBar ul { float: left; line-height: 30px; display: block; }
.searchBar ul li{ float: left;margin-left: 6px; }
.searchBar span { color: #7b7b7b; height: 100%; line-height: 30px; }
.searchBar input { font-size: 14px;  }
.searchBar input.txtArea { width: 155px; height: 22px; line-height: 24px; border: 1px solid #ab0b0c; padding: 2px 5px;  }
.searchBar input.m-search-btn { background: url(../images/g_hd_btn.png) no-repeat;  color: #fff; width: 44px; height: 21px; font-size: 12px; margin-right: 5px; cursor: pointer; }


/*幻灯片*/
.m-slide { margin-top: 10px; width: 966px; position: relative; background: #ac0001;  padding: 10px 5px; }
.pic_wrap { height: 290px; width: 965px;  position: relative; overflow: hidden; margin: 0 auto; }
.pic_wrap ul { position: absolute; left: 0; top: 0; }
.pic_wrap ul li { float: left; }
.pic_wrap ul li img { display:block; width:193px; height:288px; }
.m-slide a.prev { background: url(../images/sld_btn_l.png) no-repeat ; position: absolute; left: -66px;top: 90px; width: 66px; height: 131px; filter:alpha(opacity:0); opacity: 0; }
.m-slide a.next {  background: url(../images/sld_btn_r.png) no-repeat ; position: absolute; right: -66px; top: 90px; width: 66px; height: 131px; filter:alpha(opacity:0); opacity: 0; }
.m-slide a.prev:hover{ background: url(../images/sld_btnl.png) no-repeat ; position: absolute; left: -66px;top: 90px; width: 66px; height: 131px; }
.m-slide a.next:hover{ background: url(../images/sld_btnr.png) no-repeat ; position: absolute; right: -66px; top: 90px; width: 66px; height: 131px;}


/*主内容部分*/
.content_wrap { width: 976px; position: relative; margin: 0 auto; }
.content_wrap .bd {  position: relative; margin: 30px auto; height: 440px; }
.bd .m-title { color: #ac0001; height: 25px; font-family: "微软雅黑"; border-bottom: 2px solid #ba2c2b; }

/*标题*/
.bd .m-title h2 { float: left; display: block; font-size: 17px; }
.bd .m-title h2 span { color: #0d0001; }
.bd .m-title  p { float: right; display: block;  }
 

.cnt_wrap1,.cnt_wrap2,.cnt_wrap3,.cnt_wrap4 { position: relative; }
.cnt_wrap1 .cnt_dld,.cnt_wrap3 .cnt_dld { float: right;  margin: 15px 0; }
.cnt_wrap2 .cnt_dld,.cnt_wrap4 .cnt_dld { float: left;  margin: 15px 0; }

/*世界名著*/
.world_famous { width: 646px; float: left; }

.world_famous ul { position: relative; margin: 10px 0; }
.world_famous ul li { float: left; margin: 5px 0; }
.world_famous ul li img { float: left; }
.world_famous ul li div { float: left; width: 530px; height: 100px;  margin-left: 20px; padding: 5px 0; }

.world_famous ul li div h3 a{ color: #ac0001; font-size: 15px; font-family: "微软雅黑";  }
.world_famous ul li div p {  margin: 5px 0; font-family: "宋体"; line-height: 20px;  }
.world_famous ul li div p a:hover{ text-decoration: underline;}


/*休闲生活*/
.recreation { float: right; width: 646px; }
.recreation ul { position: relative; margin: 0 auto; }
.recreation ul li{ float: left; }
.recreation ul li a { float: right; font-family: "微软雅黑"; color: #ac0001; font-size: 14px; }
.recreation ul li { width: 150px; margin: 10px 5px; }
.recreation ul li div { float: left; width: 145px; margin: 10px auto; }
.recreation ul li div h3 {  line-height: 40px; }
.recreation ul li div h3 a{ color: #ac0001; font-size: 15px; font-family: "微软雅黑"; display: inline-block; float: left; }
.recreation ul li div p { line-height: 25px;  float: left; width: 100%; }


/*学习资源*/
.learning_resources { float: left; width: 646px; }
.learning_resources .lr_cnt { position: relative; height: 200px; padding: 20px 0; }
/*.learning_resources .lr_cnt ul {  }*/
.learning_resources .lr_cnt ul li { float: left; }
.learning_resources .lr_cnt ul li.fr { float: right; }
.learning_resources .lr_cnt_img { display: block; width: 142px; height: 200px;  float: left;  }
.learning_resources .lr_cnt ul li div { width: 140px; float: left; margin-left: 10px; } 
.learning_resources .lr_cnt ul li div a { color: #ac0001; font-size: 15px; font-family: "微软雅黑"; margin-bottom: 10px; display: block; }
.learning_resources .lr_cnt ul li div p { line-height: 20px; float: left; }
.learning_resources .lr_cnt ul li div p.detail { margin: 10px 0; width: 100%; }

/*无缝切换*/
.learning_resources .lr_slide { position: relative; float: left; width: 646px; height: 139px; background: url(../images/cnt_slide.png) 0 -82px repeat-x; }
.learning_resources .lr_slide_wrap { margin: 0 auto;  width: 576px; height: 116px; position: relative; top: 10px;  }
.learning_resources .lr_slide_wrap a { display:block; width: 82px; height:114px;  }
.learning_resources .sld_wrap { position: relative; width: 524px; height: 114px; overflow: hidden; margin: 0 auto; }
.learning_resources .lr_slide ul { position: absolute; left: 0; top: 0; height: 114px; }
.learning_resources .lr_slide .lr_prev { z-index: 1;  background: url(../images/cnt_slide.png) no-repeat 0 0; position: absolute; left: 0; top: 36px; display: block; width: 26px; height: 41px; text-indent:-3000px; }
.learning_resources .lr_slide .lr_next { z-index: 1;  background: url(../images/cnt_slide.png) no-repeat 0 -41px; position: absolute; right: 0; top: 36px; display: block; width: 26px; height: 41px; text-indent:-3000px; }
.learning_resources .lr_slide ul li { float: left; width: 110px; }

/*文史文化*/
.literature { float: right; width: 646px; }
.literature ul { position: relative; margin: 0 auto; }
.literature ul li{ float: left; }
.literature ul li a { float: right; font-family: "微软雅黑"; color: #ac0001; font-size: 14px; }
.literature ul li { width: 150px; margin: 10px 5px; }
.literature ul li div { float: left; width: 145px; margin: 10px auto; }
.literature ul li div h3 {  line-height: 40px; }
.literature ul li div h3 a{ color: #ac0001; font-size: 15px; font-family: "微软雅黑"; display: inline-block; float: left; }
.literature ul li div p { line-height: 25px;  float: left; width: 100%; }