.pageZone{
    width: 600px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    height: 40px;
}
.pagination {
    font-size: 14px;
    width: 400px;
    float: left;
     padding: 0.3em 0.5em;
}
        
.pagination a {
    text-decoration: none;
	border: solid 1px #7b7b7b;
	color: #7b7b7b;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
}

.pagination span a.current {
    background: #7b7b7b;
    color: #fff;
	border: solid 1px #6c6c6c;
    text-decoration: none;
    cursor: default;
}


.goto-page{
    width: 100px;
    float: right;
    height: 40px;
    line-height: 40px;
    display: block;
    cursor: pointer;
}
.goto-page input {
    border: 1px solid #7b7b7b;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-indent: 2px;
}
.goto-page a{
    background: #efefef;
     padding: 0.3em 0.5em;
     color: #b01012;
     font-size: 12px;
     margin-left: 5px;
}
.goto-page a:hover{
    background: #ddd;
    text-decoration: underline;
}
.pagination a:hover{
    text-decoration: underline;
    background: #efefef;
}