.m-sbook-cnt{
	float: right;
	width: 650px;
	margin-top: 12px;
	position: relative;
	border-left: 1px solid #eee;
	padding-left: 25px;
}

.m-sbook-cnt ul {
	position: relative;
}

.m-sbook-cnt ul li{
	overflow: hidden;
	width: 620px;
	padding-right: 20px;
	border-bottom: 1px solid #d2d2d2;
}
.m-sbook-cnt div.sbook-detail{
	width: 620px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding: 17px 0 15px 2px;
}
.m-sbook-cnt ul li a.sb-img{
	border: 1px solid #eee;
	display: block;
	width: 114px;
	height: 167px;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.m-sbook-cnt ul li div.desc{
	width: 500px;
	height: 167px;
	float: right;
}

.m-sbook-cnt h3{
	font-size: 15px;
	line-height: 30px;
	margin-bottom: 10px;
}
.m-sbook-cnt h3 a{
	color: #333;
	font: 21px/1.2 "微软雅黑","黑体";
}
.m-sbook-cnt h3 a:hover{
	color: #ca0001;
}

.m-sbook-cnt div.desc span{
	display: block;
	height: 25px;
	color: #999;
	line-height: 25px;
	font-family: "宋体","Arial Narrow",sans-serif;
	font-size: 12px;
	padding-left: 15px;
	float: left;
}
.m-sbook-cnt div.desc p{
	clear: both;
	margin: 5px 0 5px 10px;
	letter-spacing: 1.5px;
	line-height: 28px;
	font-size: 14px;
}
.m-sbook-cnt div.desc p span{
	text-align: right;
	float: right;
}
.m-sbook-cnt div.desc p span a{
	font-size: 12px;
	font-weight: normal;
	color: #ac0001;
}
.m-sbook-cnt div.desc p span a:hover{
	text-decoration: underline;
}


/*下载排行模块*/
.cnt_dld { width: 250px; position: relative; }
.cnt_dld h3 {  font-family: "微软雅黑"; font-size: 15px;  line-height: 30px; margin-bottom: 10px; }
.cnt_dld h3 a { color: #ac0001; }
.cnt_dld h3 span{ color: #0d0001; }
.cnt_dld ul {  background: #f4f4f4;  height: 320px; padding: 10px 0; }
.cnt_dld ul li { float: left;  width: 250px; display: block; height: 22px; line-height: 22px; position: relative; margin: 5px 0; }
.cnt_dld ul li,.cnt_dld ul li a {  color: #414141;font-family: 宋体B8B\4F53, "Arial Narrow";font-size: 12px;  }
.cnt_dld ul li a { margin-left: 5px; line-height: 22px; }
.cnt_dld ul li p { position: absolute; right: 0; top: 0; text-align: left; width: 70px;   }
.cnt_dld ul li span { width: 22px; height: 22px; margin-left: 20px; background: #a5a5a5; float: left; color: #fff; text-align: center; line-height: 22px; }
