.m-tbook-cnt{
	width: 620px;
	position: relative;
	float: right;
	border-left: 1px solid #eee;
	padding-left: 40px;
	margin-top: 20px;
}

.download{
	padding: 20px 0;
}

.m-tbook-cnt h2{
	font: 21px/1.2 "微软雅黑","黑体";
	color: #ac0001;
}
.cnt_wraper{
	position: relative;
	margin-top: 20px;
}
.cnt_wraper img{
	-webkit-box-shadow: 1px 2px 1px 3px;
	-moz-box-shadow: 1px 2px 1px 3px;
	box-shadow: 1px 1px 2px 3px;
	color: #777;
}
.cnt_detail{
	width: 375px;
	float: right;
	margin-right: 10px;
}
.cnt_detail p{
	font-size: 14px;
	letter-spacing: 1.2px;
	line-height: 20px;
	overflow: auto;
	padding: 11px 0;
}
.cnt_detail p span.read-more {
	text-indent: 0;
	text-align: right;
	display: block;
	float: right;
	margin-left: 20px;
	color: #ac0001;
	width: 70px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.read-more a{
	padding: 2px;
	color: #ac0001;
}
.read-more a:hover{
	text-decoration: underline;
}
.cnt_detail p a:hover{
	text-decoration: underline;
}

.cnt_detail span{
	width: 170px;
	float: left;
	font-size: 12px;
	color: #ac0001;
	letter-spacing: 1px;
	line-height: 30px;
}
.cnt_detail span.dld{
	width: 50px;
	text-align: center;
	margin-top: 20px;
}
.cnt_detail span.dld a{
	display: block;
	width: 50px;
	height: 20px;
	border: 1px solid #e2e2e2;
	background: #f2f2f2;
	color: #ac0001;
	float: left;
	border-radius: 5px;
	letter-spacing: 3px;
	line-height: 20px;
}
.cnt_detail span.dld a:hover{
	text-decoration: underline;
	background: #d2d2d2;
}

.other{
	margin-top: 10px;
}
.other h2{
	width: 610px;
	height: 25px;
	display: block;
	background: url(../images/other_hd.jpg) no-repeat ;
	border-bottom: 1px solid #ac0001;
}
.other h2 a{
	float: right;
	background: url(../images/more.jpg) no-repeat;
	width: 50px;
	height: 25px;
}
.other ul{
	width: 590px;
	position: relative;
	margin-top: 20px;
	overflow: auto;
	padding: 10px;
}
.other ul li{
	float: left;
	margin-right: 20px;
	border: 1px solid #ddd;
	width: 115px;
	padding: 5px;
	background: #fff;
	-webkit-box-shadow: 1px 1px 1px 0.3px;
	-moz-box-shadow: 1px 1px 1px 0.3px;
	box-shadow: 1px 1px 1px 0.3px;
}
.other ul li a,.other ul li img{
	display: block;
	float: left;
}

.other ul li span a{
	float: left;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 115px;
	color: #7a7a7a;
}
.other ul li span a:hover{
	text-decoration: underline;
}
/*下载排行模块*/
.cnt_dld { width: 250px; position: relative; }
.cnt_dld h3 {  font-family: "微软雅黑"; font-size: 15px;  line-height: 30px; margin-bottom: 10px; }
.cnt_dld h3 a { color: #ac0001; }
.cnt_dld h3 span{ color: #0d0001; }
.cnt_dld ul {  background: #f4f4f4;  height: 320px; padding: 10px 0; }
.cnt_dld ul li { float: left;  width: 250px; display: block; height: 22px; line-height: 22px; position: relative; margin: 5px 0; }
.cnt_dld ul li,.cnt_dld ul li a {  color: #414141;font-family: 宋体B8B\4F53, "Arial Narrow";font-size: 12px;  }
.cnt_dld ul li a { margin-left: 5px; line-height: 22px; }
.cnt_dld ul li p { position: absolute; right: 0; top: 0; text-align: left; width: 70px;   }
.cnt_dld ul li span { width: 22px; height: 22px; margin-left: 20px; background: #a5a5a5; float: left; color: #fff; text-align: center; line-height: 22px; }
